h1
{
color:black;
font-family:candara;
}
body
{
text-align:center;
color:white;
background: linear-gradient(to top left, white 30%, rgb(0, 255, 255) 100%);
padding:100px;
font-size:15px;
margin-top:90px;
}
.account
{
margin-top:-100px;
text-decoration:underline ;
font-size:40px;
}
.more
{
text-decoration:none;
color:white;
Background-color:blue;
padding:5px;
}
.art
{
color:blue;
font-size:20px;
}
.heading
{
color:red;
}
.head
{
font-size:18px;
font-family:cursive;
}
.header
{
font-size:15px;
}
.article
{
font-size:22px;
text-decoration:none;
}
.art1
{
font-size:22px;
margin-left:60px;
text-decoration:none;
}
.article
{
transition:0.7s ease;
}
.article:hover
{
color:#fb0000;
}
.art1
{
transition:0.7s ease;
}
.art1:hover
{
color:#fb0000;
}
